/* GLOBAL STYLES */
body {
  direction: rtl;
  text-align: right;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/* CUSTOMIZE THE CAROUSEL */
.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  height: 35rem;
  background-color: #000;
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  text-align: right;
}

.carousel-caption h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #00ffcc;
}

.carousel-caption p {
  font-size: 1.25rem;
  color: #ffffff;
}

.btn-primary {
  background-color: #00ffcc;
  border-color: #00ffcc;
  text-align: right;
}

.btn-primary:hover {
  background-color: #00997a;
  border-color: #00997a;
}

/* MARKETING CONTENT */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: right;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

.marketing .col-lg-4 h2 {
  color: #00ffcc;
}

/* FEATURETTES */
.featurette-divider {
  margin: 5rem 0;
  border-color: #00ffcc;
}

.featurette-heading {
  font-size: 2rem;
  color: #00ffcc;
}
